
/* .blog-page h1 {
    font-family: 'Ibarra Real Nova';
    font-size: 3em;
    margin-left: 20px;
    text-decoration: underline;
} */

/* .blog-page h2 {
    font-family: 'Ibarra Real Nova';
} */

.scriptoom-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.8em;
    margin-bottom: 2em;
}

.scriptoom-logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
    margin-left: 10px;
}

.scriptoom-logo img {
    width: 17em;
    height: 100%;
    /* margin-right: 1em; */
    margin-bottom: -1.5em;
}

.category-name {
    margin-left: 50px;
}

.bloghome-summarycard-list {
    margin-left: 50px;
    display: grid;
    grid: repeat(3, 500px) / repeat(2, 500px);
}

.blog-section {
    display: flex;
    flex-direction: row;
}

.blog-nav-menu {
    border-left: 1px solid #000;
    position: fixed;
    right: 12em;
    top: 45vh;
    /* margin: 15em auto; */
    list-style-type: none;
    padding-bottom: 15px;
}

/* .blog-nav-menu li h4 a {
    cursor: pointer;
    color:#000;
} */

.blog-nav-menu li a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: rgb(95, 95, 95);
}

.blog-nav-menu li a:hover {
    color: var(--main-color);
}


/* POST */

.post-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.post-title {
    font-size: 40px;
    padding: 10px;
    margin: 0;
}

.post-date {
    color:rgb(95, 95, 95);
    padding: 10px;
    margin: 0;
    margin-top: -10px;
}

.post-description {
    color:rgb(95, 95, 95);
    padding: 10px;
    margin: 0;
}

.post {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    /* background-color: rgb(255, 255, 255); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* padding: 10px; */
    /* margin-left: 5em; */
    margin: 10px auto;
    max-width: 500px;
    min-width: 1000px;
    min-height: 100vh;
}

.post-date-and-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 10px;
}

.post-content {
    padding: 10px;
}

.post-spinner {
    /* padding: 100px 100px; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-spinner h3 {
    margin-top: 0;
}

.post pre {
    background-color: rgb(38, 46, 50);
    color: rgb(181, 181, 181);
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
}

.post code {
    background-color: rgb(38, 46, 50);
    color: rgb(181, 181, 181);   
    border-radius: 5px;
    padding: 2px;
}

.post table {
    border: 1px solid #000;
    border-collapse: collapse;
}

.post tr {
    border: 1px solid #000;
}

.post th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

.post td {
    /* border: 1px solid #000; */
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;

}

.post blockquote {
    /* background-color: rgb(239, 239, 239); */
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-left: 5px solid rgb(43, 43, 43);
    /* border-radius: 5px; */
    color:rgb(74, 74, 74);
}

.post hr {
    height: 1px;
    background-color: rgb(179, 179, 179);
    border: none;
}