.blog-page {
    display: flex;
    flex-direction: row;
}

.bloghome-summarycard-list {
    margin-left: 50px;
    display: grid;
    grid: repeat(3, 500px) / repeat(2, 500px);
}

.nav-menu {
    border-left: 1px solid #000;
    position: fixed;
    right: 15em;
    margin: 20em auto;
    list-style-type: none;
}