.cv-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-content iframe {
    width: 80vw;
    height: 80%;
    border-radius: 1em;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cv-content a {
    color: var(--dark-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}