.return-button {
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: 40em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    /* width: 1em;
    height: 1em; */
    width: 6em;
    margin: 1em;
} 

.return-button:hover {
    background-color: var(--main-color);
}