/* HOME - PROFIL */
.home-section {
    background-color: var(--main-color);
    /* position: relative; */
}

.profil {
    /* position: relative; */
    display: flex;
}

.profil img {
    /* height: 850px; */
    height: 100vh;
    /* margin-top: -20px; */
    width: 1200px;
    object-fit: cover;
    object-position: -10% 10%;
}

.profil .name-desc {
    position: absolute;
    top: 25%;
    right: 20%;
    /* right: 300px; */
    color: var(--bg-color);
}

.profil h1 {
    font-size: 100px;
    margin: -10px;
}

.profil .title-of-home {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 0;
}

.profil #lastname {
    margin-top: -40px;
}

.profil #firstname {

}

.name-desc .description {
    width: 500px;
    display: flex;
}

.description img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    margin-left: -60px;
}

.description p {
    width: 350px;
}
  